@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(img/fond.png);
  font-family: 'Oswald', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  margin: auto;
  background-color: #b8cb21;
}
.items {
  display: inline;
  padding: 50px;
  font-size: 0.9em;
}
.items a {
  color: black;
}
.bi-snow2 {
  float: left;
  color: #b8cb21;
}
.bi-snow2,
h4 {
  vertical-align: middle;
}
h4 {
  color: #b8cb21;
  margin-bottom: 15px;
}
.image {
  float: left;
}
.image {
  width: 150px;
  margin-right: 5px;
}
button {
  padding: 10px 2px;
  margin: 20px;
  color: white;
  background-color: #b8cb21;
  border: none;
  margin-left: 650px;
}
.content {
  width: 800px;
  margin: auto;
  background-color: white;
}
.all {
  padding: 30px;
}
.all ul {
  margin-left: 40px;
  margin-top: 10px;
}
footer {
  text-align: center;
  padding: 15px;
  width: 1000px;
  margin: auto;
  font-size: 0.5em;
}
footer img {
  border-radius: 13px;
}
